<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">            
            <h3 class="text-center">BSP Transaction Portal</h3>
            <h6 class="text-center text-success">Let's Spread Good Will {{user.firstName}}</h6>
            <form action="/users/transaction" method="POST">
                <div class="form-group">
                    <label for="transferaccount">Transfer Account</label>
                    <input type="text" name="transferaccount" class="form-control" value="{{transferaccount}}" required>
                </div>
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="text" name="amount" class="form-control" value="{{amount}}" required>
                </div>
                <button type="submit" class="btn btn-primary">Transfer</button>
            </form>
        </div>
    </div>
</div>